API_URL=http://auth:5000/api/v1
DEBUG=0
PROPAGATE_EXCEPTIONS=1

SECRET_KEY=2
SECURITY_PASSWORD_SALT=1
SECURITY_SEND_REGISTER_EMAIL=0

JWT_SECRET_KEY=3

SQLALCHEMY_DATABASE_URI=postgresql://postgres:12345a@db:5432/users_test

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0
